{"name":"leiturando","slug":"app","version":"1.0.0","orientation":"portrait","packagerOpts":{"config":"metro.config.js","souceExts":["js","jsx","ts","tsx","svg"]},"icon":"./assets/icon.png","userInterfaceStyle":"light","plugins":[["@react-native-voice/voice",{"microphonePermission":"CUSTOM: Allow leiturando to access the microphone","speechRecognitionPermission":"CUSTOM: Allow leiturando to securely recognize user speech"}]],"splash":{"image":"./assets/splash.png","resizeMode":"cover","backgroundColor":"#ffffff"},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"com.anonymous.app","bitcode":false},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"},"permissions":["android.permission.RECORD_AUDIO"],"package":"com.anonymous.app"},"web":{"favicon":"./assets/favicon.png"},"extra":{"eas":{"projectId":"98f66c14-6460-4d0d-a736-2ac6efc5f136"}},"sdkVersion":"49.0.0","platforms":["ios","android"]}